<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Index</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/App.css') }}">
</head>

<body>
  <h1 style="color: rgb(207, 14, 14)">Dashboard</h1>
  <p>Your Name: {{ username }}</p>
  <p>Your Pokemons:</p>
  <ul>
      {% for pokemon in pokemons %}
      <li>{{ pokemon }}</li>
      {% endfor %}
  </ul>
  <a href="/logout">
    <button>Logout</button>
  </a>
</body>
</html>
